.obj_wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted black;
}

.obj_title {
	grid-column: 1/3;
	grid-row: 1/2;
	margin-top: 5px;
	font-size: 1.1em;
	font-weight: bold;
}

.obj_comment {
	grid-column: 1/3;
	grid-row: 3/4;
	margin: 10px;
}

.obj_comment div {
	text-decoration: dashed;
}

.obj_size {
	grid-column: 1/2;
	grid-row: 2/3;
	margin-left: 10px;
}

.obj_count {
	font-style: italic;
	grid-column: 2/3;
	grid-row: 2/3;
}